*{
    margin: 0;
    padding: 0;
}
.contentWrap{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titleWrap{
    border: 1px solid red;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.flowWrap{
    border: 1px solid red;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.flowWrap  canvas{
    border: 1px solid red;
}